---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import SpringBoot from "./icons/SpringBoot.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Java from "./icons/Java.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "border-2 border-white text-white hover:bg-black hover:text-white",
  },
  REACT: {
    name: "React",
    class:
      "border-2 border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class:
      "border-2 border-cyan-500 text-cyan-500 hover:bg-cyan-500 hover:text-white",
  },
  SPRINGBOOT: {
    name: "Spring Boot",
    class:
      "border-2 border-green-600 text-green-600 hover:bg-green-600 hover:text-white",
  },
  JAVA: {
    name: "Java",
    class:
      "border-2 border-orange-500 text-orange-500 hover:bg-orange-500 hover:text-white",
  },
};

const PROJECTS = [
  {
    title: "RISE2TOP - Landing Creator WebApp",
    description:
      "Rise2Top is a company project focused on personal development, creating professional landing pages for companies and entrepreneurs.",
    link: "https://www.rise2top.es",
    image: "/projects/image.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "La Tienda by Quiosco Sarita - E-commerce Platform",
    description:
      "Complete e-commerce solution developed with a teammate. Features full payment integration with Stripe, inventory management, and modern UI/UX design.",
    link: "https://www.latiendabyquioscosarita.com/",
    github: "https://github.com/cpcx04/tienda-quiosco-sarita",
    image: "/projects/quioscosarita.png",
    tags: [TAGS.JAVA, TAGS.SPRINGBOOT, TAGS.NEXT, TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`inline-block rounded-full text-xs font-medium transition-all duration-200 ${tag.class} py-2 px-4`}
                  >
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
